* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

h1 {
    text-align: center;
    color: darkolivegreen;
    font-size: 3rem;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__container {
    width: 80vw;
    position: relative;
}

.carousel__images {
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    overflow-x: hidden;
}

.box {
    width: 100%;
    height: 80vh;
}


img {
    width: 100%;
    height: 100%;
}

.btn--left {
    position: absolute;
    top: 50%;
    left: 2vw;
    transform: translateY(-50%);
    z-index: 1000;
}

.btn--right {
    position: absolute;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
    z-index: 1000;
}

.btn--left, .btn--right {
    font-size: 4rem;
    cursor: pointer;
}

button {
    color: wheat;
    background-color: transparent;
    outline: none;
    border: none;
    transition: all 500ms;
}

button:hover, button:active {
    color: teal;
}

@media (max-width: 500px) {

    .carousel__container {
        width: 100vw;
    }

    .carousel__images {
        overflow-x: scroll;
    }

    .btn--left, .btn--right {
        display: none;
    }

    img {
        object-fit: contain;
        object-position: center;
    }
}